<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about/">About</a>
      <a href="/read/">Reads</a>
      <a href="/blog/">Blogs</a>
    </nav>

    <h1>{{ page.title }}</h1>

    <section><div class="blog-post">
      {{ content }}
    </div>
      
    
      {% if page.show_posts %}
        <ul>
          {% for post in site.posts %}
            {% unless post.categories contains "read" %}
              <li>
                <a href="{{ post.url }}" class="post-link">{{ post.title }}</a>
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      {% endif %}
    </section>
    

    
  </body>
</html>
